# Copy this file to .env and fill values (do NOT commit secrets)
SEED_ADMIN_PASSWORD=ChangeThisToAStrongPassword
SWAGGER_USER=swagger
SWAGGER_PASSWORD=ChangeThis
SA_PASSWORD=YourStrong!Passw0rd
ASPNETCORE_ENVIRONMENT=Development
